<footer>
    <!-- Page Footer -->
    <div id="footer-main"> 
        <div class="icon">
            <!-- <i class="fas fa-copyright"></i> -->
            <i class="far fa-copyright"></i>
                <span>
                    Coding Ninjas.All Rights Reserved
                </span>
            

        </div>
        <div id="footer-links">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </div>
                
        
    </div>
</footer>