.style-list{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    .header-main{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 54px;
        background-color: teal;;;
        
        .logo{
            margin: 12px 10px ;
            font-weight: bold;
            font-size: 29;
            font-family: 'Times New Roman', Times, serif;
            a{
                text-decoration: none;
                color: white;

            }
        }
        
            .lists li{
                display: inline-block;
                margin: 10px 8px;
                font-size: 19;
                // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
                
                a{
                    text-decoration: none;
                    color: white;

                }
            }
        
    }
}